body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    display: flex;
    background: linear-gradient(to bottom,#87CEFA,#ffffff);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    background-color: #D4F0F7;
    border-radius: 15px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 48px;
    height: 48px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
}
button:hover{
    box-shadow: 0 0 10px rgba(171, 15, 202, 0.7); 
}
button:active {
    background-color: #f09a9a;
}
#eq{
    width: 230px;
}